.leftPanel {
    transition-property: top, transform;
    transition-property: top, transform;
    transition-property: top, transform, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    width: 250px;
    top: 0px;
    z-index: 201;
}
.fieldsPanel {
    height: 100%;
}

.fieldsPanel-header {
    position: absolute;
    top: 0px;
    width: 100%;
}
:last-child.fieldSection {
    border-bottom: 0;
}
.fieldSection::after {
    clear: both;
}
.fieldSection::after, .fieldSection::before {
    content: " ";
    display: table;
}
.fieldSection {
    height: 100%;
    padding-top: 0px;
}

.fieldSection-scroller {
    height: 100%;
    overflow-y: auto;
    position: relative;
}
.fieldSection-list {
    background-color: #545f6f;
}
.fieldSection-list .field-item:hover {
	background-color: #1274b2;
}

li, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
:empty.fieldSection-category {
    padding: 0;
    border: 0;
}
.fieldSection-category {
    color: hsla(0, 0%, 100%, 0.6);
    background: #3e4652;
    border-color: #4a5361;
}
.fieldSection-category {
    text-transform: uppercase;
    text-align: center;
    padding: 9px 0 7px;
    line-height: 13px;
    font-size: 13px;
    border-width: 1px 0;
    border-style: solid;
}
:not(.isPassive).field-item {
    cursor: pointer;
}
.field-item {
    background: #545f6f;
}
.field-item {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    display: table;
    width: 100%;
}

.field-icon {
    background: #37404a;
}
.field-icon {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    text-align: center !important;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    width: 54px;
    height: 54px;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
}

.field-name {
    color: #fff;
}
.field-name {
    position: relative;
    font-size: 15px;
    line-height: 40px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 18px;
    padding-right: 18px;
}
.field-item + .field-item {
    border-top: 1px solid #4a5361;
}

.stageEmpty.isSmall {
    padding: 45px 20px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, .15);
    background-color: rgba(0,0,0,.03);
    border-radius: 10px;
}

.stageEmpty {
    margin-top: 20px;
    border: 2px dashed rgba(0, 0, 0, .15);
    padding: 60px 0;
    text-align: center;
    cursor: default;
    color: rgba(0, 0, 0, 0.2);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-sub-label{
	font-size: 0.8em;
	padding-top: 10px;
	padding-bottom: 10px;		
}

.form-label {
	padding-top: 10px;
	padding-bottom: 10px;	
}
.form-builder-wrapper{
	margin-left: 20px;
}



#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; cursor: move;}

#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em;}

#sortable li span { position: absolute; margin-left: -1.3em; }

.selectedControls {
}

.form-element-settings {
	float: right;
	cursor: pointer;
	margin-right: 5px; 
}
.form-element-remove {
	float: right;
	cursor: pointer;
}

.form-element-properties {
	display: none;
}
.element-props-save-btn {
	text-align: right;
}